<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="401 Auth required">
    <meta name="author" content="Danil Kazimirov">
</head>
<body>
<header id="header-401">
    <blockquote>
        <% if(err_description){ %>
        <%= err_description %>
        <% }else{ %>
        Yoy must registered, if you want continue
        <% } %>
    </blockquote>
</header>
</body>
</html>