<footer>
    <div class="light">
        <p>Developer: <em>Danil Kazimirov</em>, KPI student, <b>FAM</b><br>
           Contact me by <a href="https://telegram.me/ZulusK"
                            target="_blank">telegram</a>
        </p>
    </div>
</footer>