<div class=" light user-login-header">
    <a href="/">
        <button class="home-btn">Home</button>
    </a>|
    <% if(user.isAuthorized){ %>
    <% if( Boolean(user.info.isAdmin)){ %>
    <a href="/users/admin">
        <button class="admin-btn">Admin</button>
    </a>|
    <% } %>
    <a href="/users/">
        <button class="user-btn">
        <span class="user-name"><%= user.info.fullname %> <em>[<%= user.info.login %>]</em>
        </span>
        </button>
    </a>|
    <a href="/auth/logout">
        <button class="logout-btn">Log out</button>
    </a>
    <% }else { %>
    <a href="/auth/login">
        <button class="login-btn">Log in</button>
    </a>
        |
    <a href="/auth/registration">
        <button class="register-btn">Registrate</button>
    </a>
    <% } %>
</div>