<div class="center">
    <div class="pagination ">
        <% if(pageCount > 1) { %>
        <a <%= currentPage != 1 ? `href=${startURL}page=1` : "class=active" %>>&laquo;</a>
        <% for(var i = Math.max(1, currentPage - range);  i <= Number(currentPage) + Number(range) & i <= pageCount ;i++){ %>
        <a <%= currentPage != i ? `href=${startURL}page=${i}` : "class=active" %>><%= i %></a>
        <% } %>
        <a <%= currentPage != pageCount ? `href=${startURL}page=${pageCount}` : "class=active" %>>&raquo;</a>
        <% } else{ %>
        <a class="active">1</a>
        <% } %>
    </div>
</div>