<% function getColor(diff) {
    if (diff <= 3) {
        return "green";
    } else if (diff <= 6) {
        return "orange";
    } else {
        return "red";
    }
} %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_new.css">
    <title><%= user.info.fullname %></title>
</head>
<body class="dark-style">
<header class="publication-header">
    <div class="header-title">
        <p>User</p>
    </div>
</header>
<% include header_usr.ejs %>
<div class="content-text publication-info">
    <a href="/publications">
        <button class="control-button">Go back</button>
    </a>
    <div class="shadow-box-in">
        <% include userInfo.ejs %>
    </div>
</div>
<div class="publication-list-area center">
    <% if(items.length === 0){ %>
    <div class="items-not-found-message">
        <p>You didn't create any publication yet. Try it now</p>
    </div>
    <% } %>
    <div class="flex-publication-prev-container">
        <% for(let obj of items){ %>
        <% include publicationCard.ejs %>
        <% } %>
        <% if(user.isAuthorized){ %>
        <div class="flex-item publication-card">
            <a href="/publications/new" target="_self">
                <div class="header white">Create</div>
                <img src="/images/design/create.png"
                     alt="image-preview of publication">
                <div class="description">
                    You can create your own publication!
                </div>
            </a>
        </div>
        <% } %>
    </div>
    <% include pagination.ejs %>
</div>
<% include footer.ejs %>
</body>
</html>