<% function getColor(diff) {
    if (diff <= 3) {
        return "green";
    } else if (diff <= 6) {
        return "orange";
    } else {
        return "red";
    }
} %>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publications</title>
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_new.css">
    <meta name="description" content="List of all publications">
    <meta name="author" content="Danil Kazimirov">
    <script type="text/javascript">
        function imgError(image) {
            image.onerror = "";
            image.src = "/images/design/placeholder.jpg";
            return true;
        }
    </script>
</head>
<body class="dark-style">
<header>
    <% include header_usr.ejs %>
    <div class="old-shadow-text shadowed">List of all publications</div>
</header>
<div class="content">
    <a href="/">
        <button class="control-button">Go back</button>
    </a>
    <div class="publication-list-area center">
        <div class="publication-list-controls">
            <form class="search-form" action="/publications" method="get">

                <input type="text" placeholder="Show all publication" name="title" class="search-input"
                       value="<%= searchName %>">

                <button type="submit" class="search-button">GO</button>
            </form>
        </div>
        <% if(items.length === 0 && searchName.length !== 0){ %>
        <div class="items-not-found-message">
            <p>Cannot find any publication with title <em><%= searchName.slice(0, 30) %></em></p>
        </div>
        <% } %>
        <div class="flex-publication-prev-container">
            <% for(let obj of items){ %>
            <% include publicationCard.ejs %>
            <% } %>
            <% if(user.isAuthorized){ %>
            <div class="flex-item publication-card">
                <a href="/publications/new" target="_self">
                    <div class="header white">Create</div>
                    <img src="/images/design/create.png"
                         alt="image-preview of publication">
                    <div class="description">
                        You can create your own publication!
                    </div>
                </a>
            </div>
            <% } %>
        </div>
        <% include pagination.ejs %>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>