<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrate</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="There u can register">
    <meta name="author" content="Danil Kazimirov">
</head>
<body>
<header id="publication_header">
    <h1 class="header_title">
        Create a new account
    </h1>
</header>
<div class="content-text publication-info">
    <div>
        <a href="/publications">
            <button class="standalone">Go back</button>
        </a>
        <form target="_self" action="/auth/register" method="post" enctype="multipart/form-data" class="form-style">
            <fieldset>
                <legend><span class="number">✔</span>Another people can see</legend>
                <input type='text' id='fullname' name='fullname' class='form-control' value='user' required
                       placeholder="Full name"/>
                <input type='text' id='telegram' name='telegram' class='form-control' value='user'
                       placeholder="Telegram nick"/>
            </fieldset>
            <fieldset>
                <legend><span class="number">✔</span>Can see only you</legend>
                <input type='text' id='login' name='login' class='form-control' value='login' required
                       placeholder="Login"/>
                <input type='password' id='password' name='password' class='form-control' value='' required
                       placeholder="Password"/>
            </fieldset>
            <input type='submit' class='btn btn-primary' value="Create new account"/>
        </form>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>

