<div class="user-list-area">
    <% if(items.length === 0){ %>
    <div class="items-not-found-message">
        <p>There are no user in system</p>
    </div>
    <% } %>
    <div class="flex-user-prev-container">
        <% for(let obj of items){ %>

        <% include user_card.ejs %>
        <% } %>
    </div>
    <div class="bottom-user-pagination">
    <% include pagination.ejs %>
    </div>
</div>